/*
BASE
*/

html {
  min-height: 100%;
}
body {
  background: #86313c; // Old Browsers
  background: linear-gradient(45deg, #331832 0%,#86313c 50%,#ef544f 100%);
  background-size: cover;
  background-repeat: no-repeat;
}
