// TYPOGRAPHY
$font-primary: 'Source Sans Pro';
$font-secondary: 'Kinescope';

// COLORS
$color-primary: #909090;
$color-secondary: #5c5c5c;
$color-link: #337ab7;
$color-bg: #fbfbfb;
$color-bg-title: #251b1f;
$title-color: #f5e7dc;

// FLAGS
$flag-icon-css-path: '../flags' !default;
$flag-icon-rect-path: '/4x3' !default;
$flag-icon-square-path: '/1x1' !default;
