select {
    font-size: 1.4rem;
    padding:2px;
    margin: 0;
    border-radius:4px;
    -webkit-box-shadow:
        0 3px 0 #ccc,
        0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
}
